.footer{
        background-color:black;
        bottom: 0px;
        position: fixed;
        height: 45px;
        text-align: center;
        width: 100%;
        padding-top: 5px;
        z-index:100;
        opacity:0.4;
        max-width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 5px;
    
}

.footer__icon{
    z-index:101;
    color: white!important;
    padding:4px !important;
}

.footer__icon > .MuiSvgIcon-root {
    padding: 10px;
    color: pink;
}

.footer > .MuiIconButton-root{
    color: white;
}